<div class="segment">
  <div class="elevated_box">
    <div class="elevated_box_header">
      <h1 class="elevated_box_header_content">Your account</h1>
      <span class="underline"></span>
    </div>
    <div class="elevated_box_scrollable_content">
      <div class="elevated_box_label">
        <p class="elevated_box_label_name">Login:</p>
        <p class="elevated_box_label_value">Kaspian</p>
      </div>

      <div class="elevated_box_label">
        <p class="elevated_box_label_name">Firstname:</p>
        <p class="elevated_box_label_value">King</p>
      </div>

      <div class="elevated_box_label">
        <p class="elevated_box_label_name">Lastname:</p>
        <p class="elevated_box_label_value">Corn</p>
      </div>

      <div class="elevated_box_label">
        <p class="elevated_box_label_name">Lastname:</p>
        <p class="elevated_box_label_value">Corn</p>
      </div>

      <div class="elevated_box_label">
        <p class="elevated_box_label_name">Lastname:</p>
        <p class="elevated_box_label_value">Corn</p>
      </div>

      <div class="elevated_box_label">
        <p class="elevated_box_label_name">Lastname:</p>
        <p class="elevated_box_label_value">Corn</p>
      </div>

      <div class="elevated_box_label">
        <p class="elevated_box_label_name">Lastname:</p>
        <p class="elevated_box_label_value">Corn</p>
      </div>

      <div class="elevated_box_label">
        <p class="elevated_box_label_name">Lastname:</p>
        <p class="elevated_box_label_value">Corn</p>
      </div>

      <a routerLink="" class="elevated_box_bottom_right">Edit account</a>
    </div>


  </div>
</div>
