<div class="segment">
  <h2 class="segment_header">Account</h2>
  <p class="segment_navigation">> Your Account</p>
  <div class="elevated_box">
    <div class="elevated_box_header">
      <p class="elevated_box_header_content">Your account</p>
      <span class="underline"></span>
    </div>

    <div class="elevated_box_label">
      <p class="elevated_box_label_name">Login:</p>
      <p class="elevated_box_label_value">Kaspian</p>
    </div>

    <div class="elevated_box_label">
      <p class="elevated_box_label_name">Firstname:</p>
      <p class="elevated_box_label_value">King</p>
    </div>

    <div class="elevated_box_label">
      <p class="elevated_box_label_name">Lastname:</p>
      <p class="elevated_box_label_value">Corn</p>
    </div>

    <div class="elevated_box_label">
      <p class="elevated_box_label_name">Lastname:</p>
      <p class="elevated_box_label_value">Corn</p>
    </div>

    <div class="elevated_box_label">
      <p class="elevated_box_label_name">Lastname:</p>
      <p class="elevated_box_label_value">Corn</p>
    </div>

    <div class="elevated_box_label">
      <p class="elevated_box_label_name">Lastname:</p>
      <p class="elevated_box_label_value">Corn</p>
    </div>

    <div class="elevated_box_label">
      <p class="elevated_box_label_name">Lastname:</p>
      <p class="elevated_box_label_value">Corn</p>
    </div>

    <div class="elevated_box_label">
      <p class="elevated_box_label_name">Lastname:</p>
      <p class="elevated_box_label_value">Corn</p>
    </div>

    <a routerLink="" class="elevated_box_bottom_right">Edit account</a>

  </div>
</div>
