<div class="segment">
  <div class="elevated_box">
    <button mat-icon-button class="elevated_box_top_left" color="primary" routerLink="..">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="elevated_box_header">
      <h1 class="elevated_box_header_content">Edycja konta</h1>
      <span class="underline"></span>
    </div>

    <form [formGroup]="editAccountForm">
      <mat-form-field appearance="fill">
        <mat-label>Hasło</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Podaj hasło</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Imię</mat-label>
        <input matInput placeholder="Tu wprowadź nazwę kursu" formControlName="firstName" required>
        <mat-error>Imię musi być wypełniona</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nazwisko</mat-label>
        <input matInput placeholder="Tu wprowadź nazwę kursu" formControlName="lastName" required>
        <mat-error>Nazwisko musi być wypełniona</mat-error>
      </mat-form-field>
    </form>

    <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
      <button mat-raised-button color="primary" (click)="saveChanges()" [disabled]="editAccountForm.invalid">Zapisz dane</button>
    </div>


  </div>
  <app-spinner-hero style="position: absolute; width: 100%; height: 100%"
                    *ngIf="this.dataLoadingState.loading$ | async"></app-spinner-hero>
</div>
