<div mat-dialog-content>

  <h2>Dodaj nowe pytanie testowe</h2>
  <form [formGroup]="testQuestionForm">

    <mat-form-field appearance="fill">
      <mat-label>Pytanie testowe</mat-label>
      <input matInput placeholder="Tu wprowadź nazwę kursu" formControlName="question" required>
      <mat-error>Nazwa musi być wypełniona</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Odpowiedź</mat-label>
      <input matInput placeholder="Tu wprowadź nazwę kursu" formControlName="answer" required>
      <mat-error>Nazwa musi być wypełniona</mat-error>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" (click)="openImagePicker()">Wybierz obraz</button>
      <p>{{selectedImage ? selectedImage.name : "nie wybrano obrazu"}}</p>
      <img *ngIf="!!selectedImage" src="{{selectedImage.url}}" width="128px" height="128px">
    </div>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="onAccept()" [disabled]="testQuestionForm.invalid || selectedImage.name == null">Utwórz pytanie testowe</button>
</div>
