<div mat-dialog-content >

  <div style="display: flex; justify-content: right;">
    <button mat-raised-button color="primary" (click)="openUploadImageDialog()">Dodaj zdjęcie</button>
  </div>

  <div style="width: 100%;">
    <p style="font-weight: bold;">Aby zobaczyć zdjęcia wybierz interesującą cię kategorię</p>
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Kategoria</mat-label>
      <mat-select (valueChange)="onSelectChange($event)" [formControl]="categoryFormControl">
        <mat-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <app-search-field (onKeyUp)="applyFilter($event)"></app-search-field>

  <div *ngIf="filteredData.length != 0" class="img_container">
    <div class="img_data" *ngFor="let image of slicedData" (click)="chooseImage(image)" [class.chosen_image]="image.name == this.chosenImage.name">
      <p>{{image.name}}</p>
      <img src="{{image.url}}" style="height: 128px;">
    </div>
  </div>
  <p *ngIf="filteredData.length == 0">
    Brak zdjęć
  </p>

  <mat-paginator [length]="paginatorLength"
                 [pageSize]="paginatorPageSize"
                 [pageSizeOptions]="paginatorPageSizeOptions"
                 (page)="paginatorPageEvent($event)"
                 aria-label="Select page">
  </mat-paginator>

  <h3>Wybrane zdjęcie: {{chosenImage.name || 'nie wybrano'}}</h3>
</div>
<div mat-dialog-actions style="position: relative; bottom: 0px;">
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="onAccept()" [disabled]="chosenImage.name == null">Wybierz zdjęcie</button>
</div>
