<div class="login-center">
  <div class="login_form">
    <form [formGroup]="form">
      <h2>Wprowadź nowe hasło</h2>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Wprowadź hasło</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="f['password'].invalid">Hasło musi zawierać przynajmniej 8 znaków, przynajmniej 1 dużą literę, przynajmniej 1 małą literę, przynajmniej 1 cyfrę oraz przynajmniej jeden znak specjalny
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Wprowadź ponownie hasło</mat-label>
        <input matInput (keyup)="comparePasswords()" [type]="hide ? 'password' : 'text'"
               formControlName="passwordConfirm" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordMismatch || f['passwordConfirm'].invalid"> Hasła nie są takie same
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid || passwordMismatch">Zapisz hasło</button>
    </form>
  </div>

</div>
