<div class="segment">
  <div class="elevated_box">

    <app-elevated-box-top-buttons [rightButtonHidden]="true" ></app-elevated-box-top-buttons>
    <app-elevated-box-header>Statystyki kursów</app-elevated-box-header>

    <app-search-field (onKeyUp)="applyFilter($event)"></app-search-field>

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="courseName"> Nazwa </th>
        <td mat-cell *matCellDef="let row"> {{row.courseName}} </td>
      </ng-container>

      <ng-container matColumnDef="usersInCourse">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="usersInCourse"> Łączna liczba użytkowników </th>
        <td mat-cell *matCellDef="let row"> {{row.usersInCourse}} </td>
      </ng-container>

      <ng-container matColumnDef="avgScoreInCourse">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="avgScoreInCourse"> Średni wynik </th>
        <td mat-cell *matCellDef="let row"> {{row.avgScoreInCourse}} </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="author"> Autor </th>
        <td mat-cell *matCellDef="let row"> {{row.author}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="mat-table-row-hover" *matRowDef="let row; columns: displayedColumns;" routerLink="{{row.courseId}}"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data</td>
      </tr>
    </table>

    <mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>

  </div>

</div>
