<div>
  <div class="topbar">

    <div class="logo-container">
      <object type="image/svg+xml" data="../../../assets/logo-white.svg" class="logo">
      </object>
    </div>
    <div style="display: flex;">

      <button mat-button style="color: white; display: flex; justify-content:center; align-items: center;" [matMenuTriggerFor]="menu">{{localStorageService.getUsernameFromLocalStorage() || ""}}<mat-icon style="position: relative; right: 2px;">expand_more</mat-icon></button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()"><mat-icon >logout</mat-icon> Wyloguj</button>
      </mat-menu>
    </div>

  </div>
  <div class="main_box">
    <div class="sidebar">
      <ul>
        <li>
        <span routerLink='account' routerLinkActive="active">
          <mat-icon style="font-size: 40px; width: 40px; height: 40px;">account_circle</mat-icon>
          <p>Konto</p>
        </span>
        </li>
        <li>
        <span routerLink='courses'routerLinkActive="active">
          <mat-icon style="font-size: 40px; width: 40px; height: 40px;">bookmark</mat-icon>
          <p>Kursy</p>
        </span>
        </li>
        <li>
        <span routerLink='stats' routerLinkActive="active">
          <mat-icon style="font-size: 40px; width: 40px; height: 40px;">insights</mat-icon>
          <p>Statystyki</p>
        </span>
        </li>
        <li *ngIf="authService.isSuperAdmin$ | async">
        <span routerLink='adminpanel' routerLinkActive="active">
            <mat-icon style="font-size: 40px; width: 40px; height: 40px;">wysiwyg</mat-icon>
            <p>Panel Admina</p>
        </span>
        </li>
      </ul>
    </div>
    <div class="main_segment">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

