<div class="segment">
  <h2 class="segment_header">Courses</h2>
  <p class="segment_navigation">> Your Courses / Animals</p>
  <div class="elevated_box">
    <div class="elevated_box_header">
      <p class="elevated_box_header_content">Animals</p>
      <span class="underline"></span>
    </div>

    <div class="elevated_box_split_box">
      <div class="elevated_box_split_box_column"> <p>Numer 1</p> </div>
      <div class="elevated_box_split_box_column"> <p>Numer 2</p> </div>
    </div>

  </div>
</div>
