<div class="login-center">
  <div class="login_form">
    <h2 style="margin-bottom: 30px;">Podaj email powiązany z twoim kontem by otrzymać link do resetowania hasła</h2>

    <mat-form-field appearance="fill" style="margin-bottom: 10px;">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Tu wprowadź login" [formControl]="email"  required>
      <mat-error *ngIf="email.invalid">Podaj login</mat-error>
    </mat-form-field>

    <button mat-flat-button routerLink="/auth/signin">Powrót do logowania</button>

    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="email.invalid">Wyślij</button>

  </div>
</div>
