<div class="segment">
  <div class="elevated_box">

    <app-elevated-box-top-buttons [rightButtonHidden]="true" ></app-elevated-box-top-buttons>
    <app-elevated-box-header>Ćwiczenie: {{originalData.question}}</app-elevated-box-header>

    <div style="width: 100%;">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Pytanie</mat-label>
        <input matInput placeholder="Tu wprowadź nazwę kursu" [formControl]="question" required>
        <mat-error *ngIf="question.invalid">Nazwa musi być wypełniona</mat-error>
      </mat-form-field>
    </div>

    <div style="width: 100%;">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Odpowiedź</mat-label>
        <input matInput placeholder="Tu wprowadź nazwę kursu" [formControl]="answer" required>
        <mat-error *ngIf="answer.invalid">Nazwa musi być wypełniona</mat-error>
      </mat-form-field>
    </div>

    <div style="width: 100%;">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Zła odpowiedź [1]</mat-label>
        <input matInput placeholder="Tu wprowadź nazwę kursu" [formControl]="bad_answer1" required>
        <mat-error *ngIf="bad_answer1.invalid">Nazwa musi być wypełniona</mat-error>
      </mat-form-field>
    </div>

    <div style="width: 100%;">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Zła odpowiedź [2]</mat-label>
        <input matInput placeholder="Tu wprowadź nazwę kursu" [formControl]="bad_answer2" required>
        <mat-error *ngIf="bad_answer2.invalid">Nazwa musi być wypełniona</mat-error>
      </mat-form-field>
    </div>

    <div style="width: 100%;">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Zła odpowiedź [3]</mat-label>
        <input matInput placeholder="Tu wprowadź nazwę kursu" [formControl]="bad_answer3" required>
        <mat-error *ngIf="bad_answer3.invalid">Nazwa musi być wypełniona</mat-error>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="primary" (click)="openImagePicker()">Wybierz obraz</button>
      <p>{{selectedImage ? selectedImage.name : "nie wybrano obrazu"}}</p>
      <img *ngIf="!!selectedImage" src="{{selectedImage.url}}" width="128px" height="128px">
    </div>

    <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
      <button mat-raised-button color="primary" (click)="openDialog()" [disabled]="false">Zapisz zmiany</button>
      <button mat-raised-button color="warn" (click)="deleteExercise()">Usuń</button>
    </div>

  </div>
</div>
