<div mat-dialog-content>

  <form [formGroup]="levelForm">
    <h2>Dodaj nowy poziom</h2>

      <mat-form-field appearance="fill" >
        <mat-label>Nazwa</mat-label>
        <input matInput placeholder="Tu wprowadź nazwę kursu" formControlName="name">
        <mat-error>Nazwa musi być wypełniona</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Poziom trudności</mat-label>
        <mat-select formControlName="difficulty" value="1">
          <mat-option *ngFor="let i of ['0','1','2','3','4','5','6','7','8','9']" [value]="i">{{i}}</mat-option>
        </mat-select>
        <mat-error>Poziom musi być wypełniony</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select value="STATUS_SUSPENDED" [disabled]="true">
          <mat-option [value]="'STATUS_ACTIVE'">Active</mat-option>
          <mat-option [value]="'STATUS_SUSPENDED'">Suspended</mat-option>
          <mat-option [value]="'STATUS_ARCHIVED'">Archived</mat-option>
        </mat-select>
      </mat-form-field>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="onAccept()" [disabled]="levelForm.invalid">Utwórz poziom</button>
</div>
