<div mat-dialog-content>

  <h2>Dodaj nowy poziom</h2>

  <div style="width: 100%;">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Nazwa</mat-label>
      <input matInput placeholder="Tu wprowadź nazwę kursu" [formControl]="name" required>
      <mat-error *ngIf="name.invalid">Nazwa musi być wypełniona</mat-error>
    </mat-form-field>
  </div>

  <div style="width: 100%;">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Poziom trudności</mat-label>
      <mat-select matInputd [formControl]="difficulty" value="1" required>
        <mat-option *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]" [value]="i">{{i}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div style="width: 100%;">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Status</mat-label>
      <mat-select matInputd value="STATUS_SUSPENDED" disabled>
        <mat-option value="STATUS_ACTIVE">Active</mat-option>
        <mat-option value="STATUS_SUSPENDED">Suspended</mat-option>
        <mat-option value="STATUS_ARCHIVED">Archived</mat-option>
      </mat-select>
    </mat-form-field>
  </div>



</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="onAccept()" [disabled]="!(name.valid && difficulty.valid)">Utwórz poziom</button>
</div>
