<div class="segment">
  <div class="elevated_box">
    <button class="elevated_box_back_button button_secondary" routerLink=".."><-</button>
    <div class="elevated_box_header">
      <h1>Course: Animal</h1>
      <span class="underline"></span>
    </div>
    <div class="input_container" [class.notvalid]="!name.valid && name.touched">
      <label for="">Name*</label>
      <input
        type="text"
        placeholder="np. Animals, Food, Verbs etc."
        [formControl]="name">
      <span class="underline"></span>
      <span *ngIf="!name.valid && name.touched" class="input_alert">Nazwa musi być wypełniona</span>
    </div>



    <div class="input_container" [class.notvalid]="!description.valid && description.touched">
      <label for="">Description*</label>
      <textarea
        name=""
        id=""
        rows="5"
        placeholder="np. Course contains ..."
        [formControl]="description">
    </textarea>
      <div class="underline" ></div>
      <span *ngIf="!description.valid && description.touched" class="input_alert">Opis musi być wypełniona</span>
    </div>

    <button class="save_button" (click)="onSubmit()" [disabled]="!(name.valid && description.valid)">Save changes</button>
    <button class="save_button" (click)="openDeleteDialog()">Delete course</button>

  </div>
</div>
