<div class="segment">
  <div class="elevated_box">
    <button mat-icon-button class="elevated_box_top_left" color="primary" routerLink="..">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="elevated_box_header">
      <h1>Course</h1>
      <span class="underline"></span>
    </div>
    <div style="width: 100%; margin-bottom: 10px;">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Nazwa</mat-label>
        <input matInput placeholder="Tu wprowadź nazwę kursu" [formControl]="name" required>
        <mat-error *ngIf="name.invalid" style="padding: 3px">Nazwa musi być wypełniona</mat-error>
      </mat-form-field>
    </div>

    <div style="width: 100%;">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Opis</mat-label>
        <textarea matInput
                  style="resize: none;"
                  rows="6"
                  placeholder="Kurs zawiera ..."
                  [formControl]="description">
      </textarea>
        <mat-error *ngIf="description.invalid">Opis musi być wypełniona</mat-error>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!(name.valid && description.valid)">Save changes</button>
      <button mat-raised-button color="alert" (click)="deleteCourse()">Delete course</button>
    </div>


  </div>
</div>
