<div mat-dialog-content>

  <h2>Dodaj nowe ćwiczenie</h2>

  <form [formGroup]="exerciseForm">
    <mat-form-field appearance="fill">
      <mat-label>Pytanie</mat-label>
      <input matInput placeholder="Tu wprowadź nazwę kursu" formControlName="question" required>
      <mat-error>Pytanie musi być wypełniona</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Odpowiedź</mat-label>
      <input matInput placeholder="Tu wprowadź nazwę kursu" formControlName="answer" required>
      <mat-error>Odpowiedź musi być wypełniona</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Zła odpowiedź[1]</mat-label>
      <input matInput placeholder="Tu wprowadź nazwę kursu" formControlName="bad_answer1" required>
      <mat-error>Złąa odpowiedź[1] musi być wypełniona</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Zła odpowiedź[2]</mat-label>
      <input matInput placeholder="Tu wprowadź nazwę kursu" formControlName="bad_answer2" required>
      <mat-error>Zła odpowiedź[2] musi być wypełniona</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Zła odpowiedź[3]</mat-label>
      <input matInput placeholder="Tu wprowadź nazwę kursu" formControlName="bad_answer3" required>
      <mat-error>Zła odpowiedź[3] musi być wypełniona</mat-error>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" (click)="openImagePicker()">Wybierz obraz</button>
      <p>{{selectedImage ? selectedImage.name : "nie wybrano obrazu"}}</p>
      <img *ngIf="!!selectedImage" src="{{selectedImage.url}}" width="128px" height="128px">
    </div>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="onAccept()" [disabled]="exerciseForm.invalid || selectedImage.name == null">Utwórz ćwiczenie</button>
</div>
