@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;700;800&display=swap');

$primary: #313193;
$secondary: #4F4FB7;
$blue-light: #3FADF8;
$blue-light-darker: #2795df;

$font-familly-primary: 'Martel Sans', sans-serif;
