@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;700;800&display=swap');

$primary: #313193;
$secondary: #4F4FB7;
$blue-light: #3FADF8;
$blue-light-darker: #2795df;
$secondary-60:rgba(79, 79, 183, 0.60 );
$secondary-20:rgba(79, 79, 183, 0.2);

$font-familly-primary: 'Martel Sans', sans-serif;



* {
  font-family: $font-familly-primary;
}

*::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 10px;
  margin: 5px 0;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background: radial-gradient(circle, $primary 0%, $secondary 100%);
}

.segment {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 400px;
  min-height: 400px;

  padding: 1% 2%;

  &_header {
    position: relative;
    font-size: 3em;
    font-weight: 700;
    margin-left: 1em;
  }

  &_navigation {
    position: relative;
    top: -30px;
    font-size: 0.8em;
    margin-left: 5em;
    color: rgb(192, 192, 192);
  }

}

.elevated_box {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 3px 3px 20px 1px rgb(208, 208, 208);

  overflow: hidden;

  &_scrollable_content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  &_header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;

    margin-bottom: 1em;

    background: rgb(255, 255, 255);
    z-index: 1;

    &_content {
      font-size: 1.3em;
      margin: 0 10%;
      font-weight: 700;
      color: $primary;
    }

    .underline {
      align-self: center;
      display: block;
      width: 90%;
      height: 1px;
      background-color: $primary;
    }
  }

  &_label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 4em;

    &_name {
      position: relative;
      width: 20%;
      font-weight: 700;
      color: $secondary-60;
    }

    &_value {
      position: relative;
      width: 60%;
      padding-left: 2em;
      font-size: 1.8em;
      text-align: right;
      color: $secondary;

      &::after {
        position: absolute;
        bottom: 25%;
        left: 5px;
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(79, 79, 183, 0.781) 47%, rgb(79, 79, 183) 100%);
      }

    }
  }

  &_bottom_right {

    display: block;
    width: fit-content;

    align-self: flex-end;
    margin: 5% 5%;

    text-decoration: none;

    opacity: 0.6;
    color: $secondary;
  }

  &_table {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 96%;

    overflow-y: auto;
    overflow-x: hidden;

    &_headers {
      position: sticky;
      top: 0px;
      display: flex;
      width: 100%;
      background-color: rgb(255, 255, 255);
      margin-bottom: 2%;
      z-index: 2;

      &_value {
        margin-left: 0.4em;
        font-weight: bold;
        flex: 1;
      }

    }

    &_row {
      align-self: center;
      display: flex;
      width: 98%;
      margin: 0 0 10px 0;
      padding: 0.5em 0;
      border-radius: 3px;

      background-color: #EAEAF1;

      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.187);

      cursor: pointer;

      transition: background-color .3s ease;

      &:hover {
        background-color: #d9d9e0;
      }

      &_value {
        position: relative;
        text-align: center;
        flex: 1;
        padding: 0 0.5em;

        &:not(:first-child) {
          &::before {
            position: absolute;
            left: 0px;
            top: -10%;
            content: "";
            height: 120%;
            width: 1px;
            background: black;
          }
        }

      }

    }

  }

  &_input_container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;

    & label {
      font-size: 1.2em;
    }

    & .input {
      position: relative;
      display: flex;
      flex-direction: column;

      &:last-child{
        margin-bottom: 10px;
      }

      & input[type=text], & textarea {
        width: 100%;
        padding: 0.2em 0.4em;
        border: none;
        border-top-right-radius: 20px ;

        transition: background-color .2s ease;
      }

      & input[type=text] {
        font-size: 1.5em;
      }

      & textarea {
        font-size: 1.2em;
        resize: none;
      }

      & .underline {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $secondary-20;
        transition: background-color .2s ease, width .2s ease;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          bottom: 0px;
          left: -2px;
          height: 100%;
          width: 2px;
          background-color: $secondary-20;

          transition: background-color .2s ease, height .2s ease;
        }
      }

      &:hover {

        & input, & textarea {
          background-color: rgb(250, 250, 250);
        }

        & > .underline {
          width: calc(100% + 5px);
          background-color: $secondary;

          &::before {
            height: calc(100% + 5px);
            background-color: $secondary;
          }
        }

      }

      & input:focus, & textarea:focus {
        outline: none;
        background-color: rgb(250, 250, 250);
      }

      & input:focus + .underline, & textarea:focus + .underline {
        width: calc(100% + 5px);
        background-color: $secondary;
        &::before {
          height: calc(100% + 5px);
          background-color: $secondary;
        }
      }

    }



  }

}

.split_box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 1%;

  & > * {
    flex: 1;
  }
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px;

  & button {
    width: 40%;
    border-bottom-left-radius: 0;

  }

  & input {
    width: 60%;
    border: none;
    border-bottom: 2px solid $secondary;
    padding: 2px 2px 2px 5px;

    transition: border .3s;

    &:focus {
      outline: none;
      border-color: $secondary-60;
      background-color: rgb(241, 241, 241);
    }
  }
}

.save_button {
  padding: 0px 20px;
  font-size: larger;

  background-color: $secondary;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color .3s ease;

  &:hover{
    background-color: $secondary-60;
  }
}

.course_general {
  display: flex;
  flex-direction: column;
  padding: 10px;

  &>button{
    margin: 10px;
    padding: 30px 20px;

    &:first-of-type {
      width: 70%;
    }

    &:nth-of-type(2) {
      width: 80%;
    }
  }
}

.button_primary {

}

.button_secondary {
  padding: 0 20px;

  background-color: $secondary;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color .3s ease;

  &:hover{
    background-color: $secondary-60;
  }
}

.button_fancy {
  padding: 20px 20px;
  font-size: large;
  font-weight: bold;
  background-color: $blue-light;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color .3s ease;

    &>span {
      border: 2px solid white;
      border-radius: 20px;
      padding: 5px 10px;
      margin-left: 20px;
    }

    &:hover{
      background-color: $blue-light-darker;
    }
}
