<div mat-dialog-content >

  <h2>Edycja konta {{responseData.login ?? ''}}?</h2>

  <form [formGroup]="editAccountForm">
    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>Podaj swoje hasło</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Imię</mat-label>
      <input matInput placeholder="Tu wprowadź Imię" formControlName="firstName" required>
      <mat-error>Imię musi być wypełniona</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nazwisko</mat-label>
      <input matInput placeholder="Tu wprowadź Nazwisko" formControlName="lastName" required>
      <mat-error>Nazwisko musi być wypełniona</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="onAccept()" [disabled]="editAccountForm.invalid">Zapisz zmiany</button>
</div>
