<div class="segment">
  <h2 class="segment_header">Courses</h2>
  <p class="segment_navigation">> Your Courses</p>
  <div class="elevated_box">
    <div class="elevated_box_header">
      <div class="split_box">
        <p class="elevated_box_header_content">Your courses</p>
        <div class="search">
          <input type="text" placeholder="Search phrase" [formControl]="filterValue" value="">
          <!-- <button class="button_secondary" (click)="clearData()">Search</button> -->
        </div>
      </div>
      <span class="underline"></span>
    </div>

    <div class="elevated_box_table">
      <div class="elevated_box_table_headers">
        <p class="elevated_box_table_headers_value">Title</p>
        <p class="elevated_box_table_headers_value">Categories</p>
        <p class="elevated_box_table_headers_value">Status</p>
      </div>

      <div class="elevated_box_table_row" *ngFor="let item of data" routerLink="{{item.id}}"  >
        <p class="elevated_box_table_row_value">{{item.name}}</p>
        <p class="elevated_box_table_row_value">{{item.categoryName}}</p>
        <p class="elevated_box_table_row_value">{{item.statusName}}</p>
      </div>

    </div>

  </div>
</div>
