<div class="segment">
  <div class="elevated_box">
    <button mat-icon-button class="elevated_box_top_left" color="primary" routerLink="..">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-fab class="elevated_box_top_right" color="primary" (click)="addNewCourse()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="elevated_box_header">
      <h1>Twoje kursy</h1>
      <span class="underline"></span>
    </div>

    <div class="elevated_box_table">
      <div class="elevated_box_table_headers">
        <p class="elevated_box_table_headers_value">Tytuł</p>
        <p class="elevated_box_table_headers_value">Kategoria</p>
        <p class="elevated_box_table_headers_value">Status</p>
      </div>

      <div class="elevated_box_table_row" *ngFor="let item of data" routerLink="{{item.id}}"  >
        <p class="elevated_box_table_row_value">{{item.name}}</p>
        <p class="elevated_box_table_row_value">{{item.categoryName}}</p>
        <p class="elevated_box_table_row_value">{{item.statusName}}</p>
      </div>

    </div>

  </div>
</div>
