<div class="segment">
  <div class="elevated_box">
    <button class="elevated_box_back_button button_secondary" routerLink=".."><-</button>
    <div class="elevated_box_header">
      <div class="split_box">
        <h1>Your courses</h1>
        <button class="button_secondary" (click)="addNewCourse()"><b>+</b></button>
      </div>
      <span class="underline"></span>
    </div>

    <div class="elevated_box_table">
      <div class="elevated_box_table_headers">
        <p class="elevated_box_table_headers_value">Title</p>
        <p class="elevated_box_table_headers_value">Categories</p>
        <p class="elevated_box_table_headers_value">Status</p>
      </div>

      <div class="elevated_box_table_row" *ngFor="let item of data" routerLink="{{item.id}}"  >
        <p class="elevated_box_table_row_value">{{item.name}}</p>
        <p class="elevated_box_table_row_value">{{item.categoryName}}</p>
        <p class="elevated_box_table_row_value">{{item.statusName}}</p>
      </div>

    </div>

  </div>
</div>
