<div mat-dialog-content>
  <div class="split_box">
    <div>
      <h3>Data before edit</h3>
      <p><b>Name: </b>{{data.prevData.name}}</p>
      <p><b>Difficulty: </b>{{data.prevData.difficulty}}</p>
      <p><b>Status: </b>{{data.prevData.statusName}}</p>
    </div>
    <div>
      <h3>Data after edit</h3>
      <p><b>Name: </b>{{data.editedData.name}}</p>
      <p><b>Difficulty: </b>{{data.editedData.difficulty}}</p>
      <p><b>Status: </b>{{data.editedData.statusName}}</p>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="onAccept()">Zatwierdź zmiany</button>
</div>
