<div class="segment">
  <div class="elevated_box">
    <button mat-icon-button class="elevated_box_top_left" color="primary" routerLink="..">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="elevated_box_header">
      <h1>Fiszka</h1>
      <span class="underline"></span>
    </div>

    <div style="width: 100%;">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Słowo [Ang]</mat-label>
        <input matInput placeholder="Tu wprowadź nazwę kursu" [formControl]="expOriginal" required>
        <mat-error *ngIf="expOriginal.invalid">Nazwa musi być wypełniona</mat-error>
      </mat-form-field>
    </div>

    <div style="width: 100%;">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Słowo [Pol]</mat-label>
        <input matInput placeholder="Tu wprowadź nazwę kursu" [formControl]="expTranslation" required>
        <mat-error *ngIf="expTranslation.invalid">Nazwa musi być wypełniona</mat-error>
      </mat-form-field>
    </div>

    <div style="width: 100%;">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Definicja</mat-label>
        <input matInput placeholder="Tu wprowadź nazwę kursu" [formControl]="expDescription" required>
        <mat-error *ngIf="expDescription.invalid">Nazwa musi być wypełniona</mat-error>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="primary" (click)="openImagePicker()">Wybierz obraz</button>
      <p>{{selectedImage ? selectedImage.name : "nie wybrano obrazu"}}</p>
      <img *ngIf="!!selectedImage" src="{{selectedImage.url}}" width="128px" height="128px">
    </div>

    <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="false">Save changes</button>
      <button mat-raised-button color="warn" (click)="deleteCourse()">Delete course</button>
    </div>

  </div>
</div>
