/* You can add global styles to this file, and also import other style files */

@use 'sass:map';
@use "@angular/material" as mat;


@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@include mat.core();

* { margin: 0; padding: 0; box-sizing: border-box;}

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Martel Sans', sans-serif;
}

$color-config:    mat.get-color-config($my-app-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette:  map.get($color-config, 'accent');
$warn-palette:    map.get($color-config, 'warn');

$primary: mat.get-color-from-palette($primary-palette, 500);
$secondary: #4F4FB7;
$blue-light: #3FADF8;
$blue-light-darker: #2795df;
$secondary-60:rgba(79, 79, 183, 0.60 );
$secondary-20:rgba(79, 79, 183, 0.2);





* {
  font-family: 'Martel Sans', sans-serif;
}

.material-icons{
  font-family: 'Material Icons', serif !important;
}

.segment {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 400px;
  min-height: 400px;

  padding: 1% 2%;

  &_header {
    position: relative;
    font-size: 3em;
    font-weight: 700;
    margin-left: 1em;
  }

  &_navigation {
    position: relative;
    top: -30px;
    font-size: 0.8em;
    margin-left: 5em;
    color: rgb(192, 192, 192);
  }

}

.elevated_box {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 3px 3px 20px 1px rgb(208, 208, 208);

  overflow: hidden;

  overflow-y: auto;

  &_scrollable_content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  &_header {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
    z-index: 1;

    h1 {
      font-size: 1.3em;
      margin: 0 10%;
      font-weight: 700;
      color: $primary;
    }

    .underline {
      align-self: center;
      display: block;
      width: 90%;
      height: 1px;
      background-color: $primary;
    }
  }

  &_label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 4em;

    &_name {
      position: relative;
      width: 20%;
      font-weight: 700;
      color: $secondary-60;
    }

    &_value {
      position: relative;
      width: 60%;
      padding-left: 2em;
      font-size: 1.8em;
      text-align: right;
      color: $secondary;

      &::after {
        position: absolute;
        bottom: 25%;
        left: 5px;
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(79, 79, 183, 0.781) 47%, rgb(79, 79, 183) 100%);
      }

    }
  }

  &_table {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 96%;

    overflow-y: auto;
    overflow-x: hidden;

    &_headers {
      position: sticky;
      top: 0;
      display: flex;
      width: 100%;
      background-color: rgb(255, 255, 255);
      margin-bottom: 2%;
      z-index: 2;

      &_value {
        margin-left: 0.4em;
        font-weight: bold;
        flex: 1;
      }

    }

    &_row {
      align-self: center;
      display: flex;
      width: 98%;
      margin: 0 0 10px 0;
      padding: 0.5em 0;
      border-radius: 3px;

      background-color: #EAEAF1;

      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.187);

      cursor: pointer;

      transition: background-color .3s ease;

      &:hover {
        background-color: #d9d9e0;
      }

      &_value {
        position: relative;
        text-align: center;
        flex: 1;
        padding: 0 0.5em;

        &:not(:first-child) {
          &::before {
            position: absolute;
            left: 0;
            top: -10%;
            content: "";
            height: 120%;
            width: 1px;
            background: black;
          }
        }

      }

    }

  }

  &_top_left {
    position: absolute !important;
    top: 10px;
    left: 10px;

    width: 40px;
    height: 40px;

    z-index: 2;
  }

  &_top_right {
    position: absolute !important;
    top: 10px;
    right: 10px;

    width: 40px;
    height: 40px;

    z-index: 2;
  }

}


.split_box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding: 1%;

  & > * {
    flex: 1;
  }
}

.save_button {
  padding: 0 20px;
  font-size: larger;

  background-color: $secondary;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color .3s ease;

  &:hover{
    background-color: $secondary-60;
  }
}

.button_primary {

}

.button_secondary {
  padding: 0 2%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color .3s ease;

  &:hover{
    background-color: $secondary-60;
  }
}

.button_fancy {
  padding: 20px 20px;
  font-size: large;
  font-weight: bold;
  background-color: $blue-light;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color .3s ease;

  &>span {
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 20px;
  }

  &:hover{
    background-color: $blue-light-darker;
  }
}

.mat-table-row-hover {
  cursor: pointer;
  transition: background-color .2s ease;
  &:hover, &:focus {
    background-color: #d7d7d7;
  }
}

mat-error {
  padding: 2px 0;
}

.mat-form-field {
  padding: 6px 0;
}



// snackbar

 .snackbar_error {
   background-color: #91100a;
 }

.snackbar_success{
  background-color: #13910a;
}

.snackbar_alert{
  background-color: #ce9e00;
}

.find_form {
  max-width: 400px;
}

.transparent .mat-dialog-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.0);
}

.mat-dialog-content {
  position: relative;
  height: 100%;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}


