<div class="login-center">
  <div class="login_form">
    <h2 style="margin-bottom: 30px;">Zaloguj się na swoje konto</h2>

    <mat-form-field appearance="fill" style="margin-bottom: 10px;">
      <mat-label>Login</mat-label>
      <input matInput placeholder="Tu wprowadź login" [formControl]="login"  required>
      <mat-error *ngIf="login.invalid">Podaj login</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-bottom: 10px;">
      <mat-label>Hasło</mat-label>
      <input matInput placeholder="Tu wprowadź hasło" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">Podaj hasło</mat-error>
    </mat-form-field>

    <button mat-flat-button routerLink="/auth/forgotpassword">Zapomniałem hasła</button>

    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="password.invalid || login.invalid">Zaloguj</button>

  </div>
</div>

