<div class="login-center">
  <div class="login_form">
    <h2>Zaloguj się na konto</h2>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Login</mat-label>
      <input matInput placeholder="Tu wprowadź nazwę kursu" [formControl]="email"  required>
      <mat-error *ngIf="email.invalid">Login musi być wypełniona</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">Podaj hasło</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSubmit()">Zaloguj</button>

  </div>
</div>

