<div mat-dialog-content>
  <h2 style="text-align: center; padding-bottom: 2rem;">Czy wprowadzić zmiany?</h2>
  <div class="split_box">
    <div>
      <h3>Przed zmianą:</h3>
      <div style="margin-left: 1rem;">
        <ng-container *ngFor="let key of objectKeys">
          <p *ngIf="key!='imageUrl'" [class.different]="data.originalData[key]!=data.editedData[key]"><b>{{firstLetterToUpperCase(translate(key))}}: </b>{{data.originalData[key]}}</p>
          <p *ngIf="key=='imageUrl'"><b>Zdjęcie: </b></p>
          <img *ngIf="key=='imageUrl'" src="{{data.originalData[key]}}" height="200px"/>
        </ng-container>
      </div>

    </div>
    <div>
      <h3>Po zmianie:</h3>
      <div style="margin-left: 1rem;">
        <ng-container *ngFor="let key of objectKeys">
          <p *ngIf="key!='imageUrl'" [class.different]="data.originalData[key]!=data.editedData[key]"><b>{{firstLetterToUpperCase(translate(key))}}: </b>{{data.editedData[key]}}</p>
          <p *ngIf="key=='imageUrl'"><b>Zdjęcie: </b></p>
          <img *ngIf="key=='imageUrl'" src="{{data.editedData[key]}}" height="200px"/>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onDecline()">Anuluj</button>
  <button mat-button (click)="onAccept()" [disabled]="acceptIsDisabled">Zatwierdź</button>
</div>
